<div class="p-6 bg-white shadow-md rounded-lg">
  <h4 class="text-black text-xl font-semibold mb-4">Turnos otorgados</h4>
  <table class="min-w-full divide-y divide-gray-200 mt-5">
    <thead class="bg-gray-100">
      <tr>
        <th class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">Fecha</th>
        <th class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">Hora</th>
        <th class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">Paciente</th>
        <th class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">Profesional</th>
        <th class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">Acciones</th>
      </tr>
    </thead>
    <tbody class="bg-white divide-y divide-gray-200">
      <tr *ngFor="let turno of datosDeTurnos">
        <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-900">
          {{ obtenerFechaYHora(turno.fecha).fecha }}
        </td>
        <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-900">
          {{ obtenerFechaYHora(turno.fecha).hora }}
        </td>
        <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-900">
          {{ getClienteNombre(turno.clienteId) }}
        </td>
        <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-900">
          {{ getUsuarioNombre(turno.userId) }}
        </td>
        <td class="px-6 py-4 whitespace-nowrap text-sm font-medium">
          <button class="text-red-600 hover:text-red-900">Cancelar turno</button>
        </td>
      </tr>
    </tbody>
  </table>
</div>

