<p (click)="volver()">vovler</p>

<input type="date">

<div class="container">
  <ol class="scrollable-list">
      <li *ngFor="let item of usuarios">{{ item.nombre }} <button (click)="seleccionarUsuario(item.id)">seleccionar</button></li>
  </ol>
</div>

<div class="container">
  <ol class="scrollable-list">
    <li *ngFor="let item of clientes">{{item.nombre}} <button (click)="seleccionarPaciente(item.id)" >seleccionar</button> </li>
  </ol>
</div>

<button>crear</button>



<app-aviso-presencia></app-aviso-presencia>
