<!-- Botón de volver -->
<div class="flex items-center space-x-2 mb-4 ml-3">
  <i class="pi pi-arrow-left text-white" routerLink="/home"></i>
</div>

<!-- Contenedor principal -->
<div class="flex min-h-full flex-col justify-center px-6 py-12 lg:px-8">
  <div class="sm:mx-auto sm:w-full sm:max-w-sm">
    <!-- Logo -->
    <img class="mx-auto h-10 w-auto" src="https://tailwindui.com/img/logos/mark.svg?color=indigo&shade=600" alt="Your Company">
    <h2 class="mt-10 text-center text-2xl font-bold leading-9 tracking-tight text-gray-300">Ingresa con tu cuenta</h2>
  </div>

  <div class="mt-10 sm:mx-auto sm:w-full sm:max-w-sm">
    <!-- Formulario de inicio de sesión -->
    <form class="space-y-6" [formGroup]="formularioDeLogeo" (ngSubmit)="onSubmit()">
      <!-- Campo de email -->
      <div>
        <label for="email" class="block text-sm font-medium leading-6 text-white">Email</label>
        <div class="mt-2 relative">
          <i class="pi pi-envelope absolute inset-y-0 left-0 pl-3 flex items-center text-gray-500"></i>
          <input id="email" name="email" type="email" autocomplete="email" required formControlName="email" class="block w-full rounded-md border-0 py-1.5 pl-10 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-black focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6">
        </div>
      </div>

      <!-- Campo de DNI -->
      <div>
        <div class="flex items-center justify-between">
          <label for="dni" class="block text-sm font-medium leading-6 text-white">DNI</label>
          <div class="text-sm">
            <a routerLink="/reset-password" class="font-semibold hover:text-indigo-500 text-black">¿Olvidaste tu contraseña?</a>
          </div>
        </div>
        <div class="mt-2 relative">
          <i class="pi pi-id-card absolute inset-y-0 left-0 pl-3 flex items-center text-gray-500"></i>
          <input id="dni" name="dni" type="text" autocomplete="current-password" required formControlName="dni" class="block w-full rounded-md border-0 py-1.5 pl-10 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-black focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6">
        </div>
      </div>

      <!-- Botón de ingreso -->
      <div>
        <button type="submit" class="flex w-full justify-center items-center rounded-md bg-indigo-600 px-3 py-1.5 text-sm font-semibold leading-6 text-white shadow-sm hover:bg-indigo-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600">
          <i class="pi pi-sign-in mr-2"></i> Ingresa
        </button>
      </div>
    </form>
  </div>
</div>
