<div class="flex justify-center items-center min-h-screen">
  <div class="bg-white shadow-lg rounded-lg p-6 max-w-lg w-full">
    <h2 class="text-2xl font-bold mb-4 text-center text-black">
      <i class="pi pi-cog mr-2"></i>Panel Administrativo
    </h2>
    <div class="space-y-4">
      <a (click)="enrutarAFicha()"
        class="cursor-pointer block text-center py-3 px-4 bg-teal-500 text-white rounded-lg shadow hover:bg-teal-600 transition">
        <i class="pi pi-user-plus mr-2"></i>Crear Ficha
      </a>
      <a (click)="enrutarAturno()"
        class="cursor-pointer block text-center py-3 px-4 bg-blue-500 text-white rounded-lg shadow hover:bg-blue-600 transition">
        <i class="pi pi-calendar-plus mr-2"></i>Crear Turno
      </a>
      <a (click)="enrutarAVerTurno()"
        class="cursor-pointer block text-center py-3 px-4 bg-orange-700 text-white rounded-lg shadow hover:bg-orange-800 transition">
        <i class="pi pi-calendar-plus mr-2"></i>Turnos
      </a>
      <a (click)="enrutarAUpload()"
        class="cursor-pointer block text-center py-3 px-4 bg-teal-900 text-white rounded-lg shadow hover:bg-teal-950 transition">
        <i class="pi pi-upload mr-2"></i>Subir Archivos
      </a>
      <a (click)="enrutarABandeja()"
        class="cursor-pointer block text-center py-3 px-4 bg-slate-900 text-white rounded-lg shadow hover:bg-slate-700 transition">
        <i class="pi pi-sign-out mr-2"></i>Bandeja de entrada
      </a>
      <a (click)="enrutarASalida()"
        class="cursor-pointer block text-center py-3 px-4 bg-orange-600 text-white rounded-lg shadow hover:bg-orange-700 transition">
        <i class="pi pi-sign-out mr-2"></i>Salir
      </a>
    </div>
  </div>
</div>
<app-chat></app-chat>